<%=form_tag(offerings_path, role: "form") do %>
  <%if flash.any?%>
    <%flash.each do |message_type, message|%>
      <div class="alert alert-<%=message_type%>"><%=message%></div>
    <%end%>
  <%end%>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-4">
          <%= label_tag :start_time %>
          <%= select_tag :start_time, options_for_select([ ['9:00', '9:00'], ['9:30', '9:30'], ['10:00', '10:00'], ['10:30', '10:30'], ['11:00', '11:00'], ['11:30', '11:30'], ['12:00', '12:00'], ['12:30', '12:30'], ['1:00', '13:00'],['1:30', '13:30'], ['2:00', '14:00'], ['2:30', '14:30'], ['3:00', '15:00'], ['3:30', '15:30'], ['4:00', '16:00'], ['4:30', '16:30'], ], '9:00'), class: "form-control" %>
        </div>
        <div class="col-lg-4">
          <%= label_tag :end_time %>
          <%= select_tag :end_time, options_for_select([ ['9:30', '9:30'], ['10:00', '10:00'], ['10:30', '10:30'], ['11:00', '11:00'], ['11:30', '11:30'], ['12:00', '12:00'], ['12:30', '12:30'], ['1:00', '13:00'],['1:30', '13:30'], ['2:00', '14:00'], ['2:30', '14:30'], ['3:00', '15:00'], ['3:30', '15:30'], ['4:00', '16:00'], ['4:30', '16:30'], ['5:00', '17:00'], ], '9:30'), class: "form-control" %>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <%=submit_tag "Submit", class: 'btn-block' %>
      </div>
    </div>
  </div>
<%end%>
