<%=form_tag(offerings_path, role: "form", id: 'mentor-submit-button' ) do %>
  <%if flash.any?%>
    <%flash.each do |message_type, message|%>
      <div class="alert alert-<%=message_type%>"><%=message%></div>
    <%end%>
  <%end%>

  <div class="input-group date">
    <input type="text" class="form-control" name='date'>
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-th"></i></span>
  </div>

  <div class="form-group">
    <div class="row">
      <ul class='nav nav-pills'>
        <% Offering::AVAILABLE_OFFERING_TIMES.each do |time| %>
          <li>
            <div class="col-xs-16">
              <%= label_tag time %>
              <%= check_box_tag "offering_tag[#{time}]" %>
            </div>
          </li>
        <% end %>
      </ul>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <%=submit_tag "Submit", class: 'btn-block' %>
      </div>
    </div>
  </div>
</div>
<%end%>
