<%=form_tag(offerings_path, role: "form", id: 'mentor-submit-button' ) do %>
  <%if flash.any?%>
    <%flash.each do |message_type, message|%>
      <div class="alert alert-<%=message_type%>"><%=message%></div>
    <%end%>
  <%end%>

  <div class="input-group date">
    <input type="text" class="form-control" name='date'>
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-th"></i></span>
  </div>

  <div class="form-group">
    <div class="row">
      <ul class='nav nav-pills'>
        <li>
          <div class="col-xs-16">
            <%= label_tag "9:00" %>
            <%= check_box_tag 'offering_tag[9:00]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "9:30" %>
            <%= check_box_tag 'offering_tag["9:30"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "10:00" %>
            <%= check_box_tag 'offering_tag["10:00"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "10:30" %>
            <%= check_box_tag 'offering_tag["10:30"]' %>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <%= label_tag "11:00" %>
            <%= check_box_tag 'offering_tag["11:00"]' %>
          </div>
        </li>
        <li class="btn btn-default">
          <div>
            <%= label_tag "11:30" %>
            <%= check_box_tag 'offering_tag["11:30"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "12:00" %>
            <%= check_box_tag 'offering_tag["12:00"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "12:30" %>
            <%= check_box_tag 'offering_tag["12:30"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "1:00" %>
            <%= check_box_tag 'offering_tag["1:00"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "1:30" %>
            <%= check_box_tag 'offering_tag["1:30"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "2:00" %>
            <%= check_box_tag 'offering_tag["2:00"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "2:30" %>
            <%= check_box_tag 'offering_tag["2:30"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "3:00" %>
            <%= check_box_tag 'offering_tag["3:00"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "3:30" %>
            <%= check_box_tag 'offering_tag["3:30"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "4:00" %>
            <%= check_box_tag 'offering_tag["4:00"]' %>
          </div>
        </li>
        <li>
          <div class="col-xs-16">
            <%= label_tag "4:30" %>
            <%= check_box_tag 'offering_tag["4:30"]' %>
          </div>
        </li>
      </ul>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <%=submit_tag "Submit", class: 'btn-block' %>
      </div>
    </div>
  </div>
<%end%>
