<br>
<div class="row">
    <ul class='nav nav-pills'>
      <% if user.open_offerings.length > 0 || user.mentor_appointments.length > 0 %>
        <li><button name='<%= user.id %>' type='button' class='btn btn-default name_button'><%= user.name %></button></li>
        <% Offering::AVAILABLE_OFFERING_TIMES.each do |time| %>
          <% if user.is_booked?(time) != false %>
            <li><a class="taken_offering_link" value="<%= time %>" href='/appointments/<%= user.is_booked?(time).id %>'><%= time %></a></li>
          <% elsif user.is_offering?(time) != false %>
            <li><a class="open_offering_link" value="<%= time %>" href='/offerings/<%= user.is_offering?(time).id  %>'><%= time %></a></li>
          <% else %>
            <li class="not_available"><%= time %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
