<div class="container">
  <h2><%=@user.name%>'s Conversations!</h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Message</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody> 
      <% @started_conversations.each do |conversation| %>
          <%if conversation.has_unread_messages?(current_user) %> 
            <tr class = "unread-thread">
          <%else%> 
            <tr class = "read-thread">
          <%end%>
            <td><%= link_to User.find(conversation.joiner_id).name, user_path(conversation.joiner_id) %></td>
            <td><%= link_to conversation.messages.last.body[0...75], user_conversation_path(current_user, conversation) %>...</td>
            <td><%= time_ago_in_words(conversation.messages.last.created_at) %> ago</td>
          </tr>
      <% end %>
      <% @joined_conversations.each do |conversation| %>
          <%if conversation.has_unread_messages?(current_user) %> 
            <tr class = "unread-thread">
          <%else%> 
            <tr class = "read-thread">
          <%end%>
            <td><%= link_to User.find(conversation.creator_id).name, user_path(conversation.creator_id) %></td>
            <td><%= link_to conversation.messages.last.body[0...75], user_conversation_path(current_user, conversation) %>...</td>
            <td><%= time_ago_in_words(conversation.messages.last.created_at) %> ago</td>
          </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
