<h1><%=@user.name%>'s Profile!</h1>

<h2><%=@user.name%></h2>
<%if @user.current_phase%>
  <h4>Phase: <%=@user.current_phase%></h4>
<% end %>
<h4>Email: <%=@user.email%></h4>
<%if @user.phone_number%>
  <h4>Phone Number: <%=@user.phone_number%></h4>
<%end%>
<%if @user.description %>
  <h4>I'd like to mentor/learn about on these topics:</h4>
  <p><%= @user.description %></p>
<%end%>

<%= link_to "Edit Your Profile", edit_user_path(current_user) %>
