<h1><%=@user.name%>'s Profile!</h1>
  <div class="row">
    <div class="col-sm-2">
     USER PHOTO
    </div>
    <div class="col-sm-3">
     <h2><%=@user.name%></h2>
     <br>
     <h4>Email: <%=@user.email%></h4>
    </div>
    <div class="col-sm-3">
      <%if @user.current_phase%>
        <h2>Phase <%=@user.current_phase%></h2>
      <% end %>
      <br>
      <%if @user.phone_number%>
        <h4>Phone Number: <%=@user.phone_number%></h4>
      <%end%>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-8">
    <%if @user.description %>
      <h4>I'd like to mentor/learn about on these topics:</h4>
      <p><%= @user.description %></p>
    <%end%>
    </div>
  </div>
  <br>
  <%= link_to "Edit Your Profile", edit_user_path(current_user) %>
<% if @user.mentor_appointments.any? %>
  <h2>Dropping Knowledge On:</h2>
  <br>
  <div class="row">
    <div class="col-sm-8">
      <ul>
      <% @user.mentor_appointments.each do |appointment| %>
      <li>
        <p>With: <%= appointment.student.name %></p>
        <p>Beginning At: <%= appointment.offering.start_time %></p>
      </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @user.student_appointments.any? %>
  <h2>Learning From:</h2>
  <br>
  <div class="row">
    <div class="col-sm-8">
      <ul>
      <% @user.student_appointments.each do |appointment| %>
      <li>
        <p>Mentor: <%= appointment.offering.mentor.name %></p>
        <p>Beginning At: <%= appointment.offering.start_time %></p>
      </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @user.open_offerings.any? %>
  <h2>Open Appointments:</h2>
  <br>
  <div class="row">
    <div class="col-sm-8">
      <ul>
      <% @user.open_offerings.each do |offering| %>
      <li>
        <p>Beginning At: <%= offering.start_time %></p>
      </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
