<!DOCTYPE html>
<html>
<head>
  <title>Pairingboard</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></spanf>
      </button>
      <%=link_to "PairBoard", root_path, class: "navbar-brand"%>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <%if logged_in? %>
          <li class="active"><%=link_to "Home", offerings_path %></a></li>
        <% else %>
          <li class="active"><%=link_to "Home", root_path%></a></li>
        <% end %>
        <li class="dropdown">
          <ul class="dropdown-menu">
            <%if logged_in? %>
              <li><%=link_to "Home", offerings_path %></li>
              <li><%=link_to current_user.name, user_path(current_user)%></li>
              <li></li>
            <%else%>
              <li><%=link_to "Home", root_path %></li>
              <li><%= link_to "Register", new_user_path %></li>
              <li><%= link_to "Login", login_path %></li>
            <% end %>
          </ul>
        </li>
        <%if logged_in? %>
            <li><%=link_to current_user.name, user_path(current_user)%></li>
            <li><%=link_to "Inbox", "#{user_path(current_user)}/conversations"%></li>
            <li><%=link_to "Logout", logout_path, method: :delete%></li>
          <%else%>
            <li><%=link_to "Register", new_user_path%></li>
            <li><%=link_to "Login", login_path%></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>

</body>
</html>



